.App-messenger {
  width: 100%;
  height: auto;
  padding: 0;
  position: relative;
  background: white;
  color: white;
  .ui.cards {
    margin: 0;
    .ui.card {
      background: white;
      margin: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      .content .header {
        font-size: 1rem;
        color: black;
        font-family: 'Montserrat', sans-serif;
      }
      &:hover {
        background: #ec9d21;
        .content .header {
          color: white;
        }
      }
    }
  }
  i.icon {
    margin: 5px 0;
    float: right;
  }
}
