.App-account {
  background: white;
  text-align: center;
  -webkit-border-radius: .28571429rem;
  -moz-border-radius: .28571429rem;
  border-radius: .28571429rem;
  padding: 0;
  > div.header {
    position: relative;
    width: 100%;
    min-height: 20px;
    margin: 0 0 1rem 0;
    padding: 1rem;
    text-align: left;
    top: 0;
    left: 0;
    color: white;
    background: #999;
    i.icon {
      position: relative;
      float: right;
    }
  }
  > div.content {
    margin: 1rem 0;
    padding: 1rem 0 0;
    border: none;
    width: 100%;
    max-width: 100%;
    max-height: 240px;
    overflow-y: auto;
    .ui.form {
      padding: 0 1rem;
      text-align: left;
    }
    div.notifications {
      color: grey;
    }
    div.ui.cards {
      width: 100%;
      margin: 0;
    }
    div.image.user {
      width: 50%;
      margin: 0 auto;
      cursor: pointer;
      img {
        width: 100%;
        height: auto;
        padding: 0;
        position: relative;
      }
    }
    .ui.buttons {
      margin: 1rem 0;
    }
  }
  .info {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    color: white;
    background: #222;
    margin: 0 auto;
    padding: 1rem;
  }
}
